.details {
    margin-bottom: 2rem;
}

.details h3 {
    margin-bottom: 1rem;
}

.details > div {
    display: flex;
    justify-content: space-between;
}

.details span {
    color: var(--light-font);
}

span.difference {
    color: var(--green);
}
