.carts-list {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow-x: auto;
    max-height: 80vh;
}

.carts {
    display: flex;
}

.outlet {
    margin-left: 3rem;
}
